<% layout('layouts/boilerplate') -%>

    <h1>Working on building Quiz App</h1>

    <form action="/" method="post">
        <div>
            <label for="question">Question: </label>
            <input type="text" placeholder="Question" name="question" />
        </div>
        <div>
            <label for="option1">Option 1: </label>
            <input type="text" name="option1" placeholder="Option 1" />
        </div>
        <div>
            <label for="option2">Option 2: </label>
            <input type="text" name="option2" placeholder="Option 2" />
        </div>
        <div>
            <label for="option3">Option 3: </label>
            <input type="text" name="option3" placeholder="Option 3" />
        </div>
        <div>
            <label for="option4">Option 4: </label>
            <input type="text" name="option4" placeholder="Option 4" />
        </div>
        <div>
            Correct Answer:
            <select name="answer" id="" name="correct">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <button class="btn">Save</button>
    </form>