<% layout('layouts/boilerplate') -%>

<h1>All Questions</h1>

<% for( let index = 0; index < questions.length; index++ ) { %>
    <article>
        <div>
            <%= questions[index].question %> 
        </div>
        <form action="questions/<%= questions[index]._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </article>
<% } %>

<a href="/">Back</a>