.container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.container-link {
  padding: 1rem;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container h2 {
  align-self: center;
  padding: 1rem 0;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 1rem;
}

/* Media Query for Mobile Viewports */
@media (max-width: 480px) {
  .category {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  /* Select all children of .category and apply styles */
  .category > * {
    justify-self: center;
  }
}


a {
  text-decoration: none;
  text-align: center;    /* Center-aligns the text horizontally */
}
